@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans", serif;
}
body{
    background-color: #F1F5F9;
}
h1{
    color: #1E293B;
}
.main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.5rem;
    padding: 0.875rem 2rem 1rem 2rem;
}
.top-cont{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}
.top-cont a{
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem 0.875rem 0.5rem 0.875rem;
    background-color: #fff;
    border-radius: 200rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #1ABCFE;
    column-gap: 0.25rem;
}
.top-cont h1{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -1px;
}
.color-content{
    width: 100%;
    height: auto;
    margin-top: 2rem;
}
.color-boxes{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
    row-gap: 2rem;
}
.instru-btn{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}
.buttons{
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 1.5rem;
}
button{
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 100rem;
    border: none;
    cursor: pointer;
    /* box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px; */
    font-size: 1rem;
    font-weight: 500;
}
button:hover{
    box-shadow: rgba(17, 17, 26, 0.06) 0px 4px 16px, rgba(17, 17, 26, 0.06) 0px 8px 32px;
}


.generate-btn{
    color: #fff;
    background-color: #1E293B;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.reset-btn{
    background-color: #F1F5F9;
    border: 1px solid #CBD5E1;
    color: #334155;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 3rem 1rem 3rem;
}
.reset-btn:focus{
    border: 1px solid #94A3B8;
}



.instruction{
    width: fit-content;
    height: auto;
}
.instruction p{
    font-size: 0.875rem;
    color: #94A3B8;
}

.color-box-collection{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}
.color-boxe{
    width: 16%;
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0.875rem;
    background-color: #fff;
    border-radius: 0.5rem;
    row-gap: 0.5rem;
}
.color-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    background-color: #F8FAFC;
    cursor: pointer;
    /* border: 0.5px solid #E2E8F0; */
}
/* .tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}
.show-tooltip {
    opacity: 1;
} */

.copy-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #4F39F6;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    display: none;

}
.show-message {
    display: block;
    animation: fadeOut 1s ease-in-out 1s forwards;
}
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}



.color-boxe p{
    font-size: 0.875rem;
    color: #64748B;
}

.color-tips{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #fff;
    padding: 2.25rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    row-gap: 0.35rem;
}

.tip-title{
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 0.5rem;
}
.icon-container{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-container span{
    color: #FDAD00;
    /* font-weight: 500; */
}
.tip-title p{
    font-size: 1rem;
    font-weight:700;
    line-height: 1.5rem;
    color: #334155;
}
.tips ul{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.85rem;
}
.tips ul li{
    text-decoration: none;
    list-style: none;
}


.for-list li{
    font-size: 1rem;
    color: #64748B;
    font-weight: 600;
    line-height: 2rem;
}
.for-list p{
    font-size: 1rem;
    color: #94A3B8;
    font-weight: 400;
    line-height: 1.25rem;
   
}